.list {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.list__item {
  width: 100%;
  max-width: 150px;
}

.list__item-img {
  &:hover {
    cursor: pointer;
  }
}

.list__item-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.list__item-title {
  font-size: 16px;
  margin-bottom: 15px;
}

.list__item-btn {
  font-size: 15px;
}
